<app-nav></app-nav>

<!-- <div>
  <label>Mariachi name: 
    <input #mariachiName />
  </label>
  &nbsp;&nbsp;
  <a href="javascript:void(0);" (click)="add(mariachiName.value); mariachiName.value=''">
    Add Mariachi
  </a>
</div> -->

<div class="row">
  <div class="col-sm-4">
    <h1>Mariachis Around The World.</h1>

    <ul id="ulIndex">
         <li *ngFor="let mariachi of mariachis | slice:0:15; let i=index">
           <a href="javascript:void(0);" (click)="onSelect(mariachi);hideVihuelaGuy();" [class.selected]="mariachi === selectedMariachi">{{mariachi.mariachiGroupName}}</a>
            <br>
            <small class="text-secondary"><span [ngStyle]="{'display': mariachi.mariachiGroupCountry === 'OTHER' ? 'none' : 'inline'}">{{mariachi.mariachiGroupCountry}}</span><span [ngStyle]="{'display': mariachi.mariachiGroupCountry === 'OTHER' ? 'inline' : 'none'}">{{mariachi.mariachiGroupOtherCountry}}</span></small>
        </li>
    </ul>

  <ul id="ulIndex2" style="display: none;">
      <li *ngFor="let mariachi of mariachis | slice:15:18; let i=index">
        <a href="javascript:void(0);" (click)="onSelect(mariachi);hideVihuelaGuy();" [class.selected]="mariachi === selectedMariachi">{{mariachi.mariachiGroupName}}</a>
         <br>
         <small class="text-secondary"><span [ngStyle]="{'display': mariachi.mariachiGroupCountry === 'OTHER' ? 'none' : 'inline'}">{{mariachi.mariachiGroupCountry}}</span><span [ngStyle]="{'display': mariachi.mariachiGroupCountry === 'OTHER' ? 'inline' : 'none'}">{{mariachi.mariachiGroupOtherCountry}}</span> </small>
     </li>
 </ul>

    <p id="ulBtn"><a href="javascript:void(0);" (click)="ulIndexBtn();">See More...</a></p>

    <p id="ulBtn2" style="display: none;"><a href="javascript:void(0);" (click)="ulIndexBtn2();">Go Back</a></p>

    <!-- <a *ngIf="ulIndexBtn1" href="javascript:void(0);" (click)="ulMariachiIndex2=!ulMariachiIndex2" data-toggle="ulMariachiIndex2">
      {{ulMariachiIndex ? "Go Back" : "See More..."}}</a></p> -->

</div>
 <div class="col-sm-8">

  <div id="vihuelaguy" class="mg-img-first" style="background: url('../../assets/mariachisbook-main-blue.png'); background-size: contain;background-repeat: no-repeat;background-position: top center;"></div>

  <!-- <app-dash-details [mariachi]="selectedMariachi"></app-dash-details> -->
  <app-mg-detail [mariachi]="selectedMariachi"></app-mg-detail>

   <!--<div class="alert alert-success">
    <strong>Well done!</strong> You successfully read this important alert message.
  </div>
  <alert type="info">
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
  </alert>
  <alert type="warning">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </alert>
  <alert type="danger">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </alert> -->


  
 </div>
</div>